doctype html
html(lang='en')
    head
        title Janus Websocket (over MQTT) connection test'
        link(rel='stylesheet' href='index.css' type='text/css')
        script(src='webrtc-adapter/adapter.js')

    body
        .container
            h1  Janus websocket (over MQTT) connection test
            video#remote.video

        script(src='index.js')